apiVersion: apps/v1
kind: Deployment
metadata:
  name: fe
spec:
  replicas: {{ .Values.fe.replicaCount }}
  selector:
    matchLabels:
      app: fe
  template:
    metadata:
      labels:
        app: fe
    spec:
      containers:
      - name: fe
        image: {{ .Values.fe.image.repository }}:{{ .Values.fe.image.tag }}
        imagePullPolicy: {{ .Values.fe.image.pullPolicy | default "IfNotPresent" }}
        ports:
        - containerPort: 80
        env:
        - name: BACKEND_SERVICE
          value: {{ .Values.backend.service.name }} # This matches our Service name!
        - name: BACKEND_URL
          value: "http://{{ .Values.backend.service.name }}" # This matches our Service name!

